body{
    margin: 0;
    padding: 0;
}

h2{
    font-size: 45px;
    font-family: DM Serif Display;
    font-weight: 400;
    margin: 43px 0;
}

.container-login, .container-registr{
    display: flex;
    background: #001124;
    color: #fff;
    min-height: 100vh;
    padding-top: 190px;
}

.login-enter{
    width: 361px;
    padding-left: 107px;
}

form{
    font-family: Padauk;
}

form a{
    color: #499FFE;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

form a:hover{
    text-decoration: underline;
    color: #1682f5;
}

form span{
    font-size: 20px;
}

label{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

input{
    width: 361px;
    height: 43px;
    padding: 0;
    margin-bottom: 10px;
    border: none;
}

form p{
    margin:0;
}

.btn{
    text-transform: uppercase;
    border: none;
    width: 180px;
    background: #015FC7;
    padding: 11px 0;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
    cursor: pointer;
}

.container-registr{
    justify-content: center;
}

.registr-form{
    width: 361px;
    padding-left: 229px;
}

.registr-form h2{
    padding-top: 0;
    margin-top: 0;
}

.button-registr{
    display: block;
    margin: 37px auto;
    border-radius: 5px;
}